.box {
    display: flex;
    padding-top: 7%;
    padding-bottom: 5%;

    align-items: center;
    justify-content: space-evenly;
    flex-grow: 0;
    flex: none;
    order: 0;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}