.container {
    width: 45%;
    min-width: 20%;
    height: 530px;
    min-height: 200px;
    background: #131316;
}

.items {
    display: flex;
    gap: 3px;
    flex-direction: column;
    max-height: 600px;
    overflow: auto;
}