.box {
    display: flex;
    position: absolute;

    max-width: 85%;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 5.9%;
    padding-bottom: 5%;

    align-items: center;
    justify-content: space-evenly;
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.errorBlock {
    position: absolute;
    background-color: red;
    padding: 25px;
    border-radius: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}