.content {
    width: 600px;
    min-height: 538px;
    transform: translate(79%, 15%);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header {
    justify-content: flex-end;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.img {
    width: 480px;
    height: 240px;
    padding-top: 15px;
}

.loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.errorBlock {
    position: absolute;
    background-color: red;
    padding: 25px;
    border-radius: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}