.containerBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*grid-template-rows: repeat(2, 1fr);*/
    grid-gap: 10px;
}

.box {
    /*background-color: #ccc;*/
    text-align: center;
    height: 190px;
}

.img {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.priceContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}