.containerBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding-bottom: var(--offset-base-size);
}

.box {
    text-align: center;
    height: 190px;
}

.img {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.priceContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

.count {
    position: relative;
    display: inline-list-item;
    top: 17%;
    right: -77%;
    width: 10px;
}

.default {
    font-size: 28px;
    min-width: 16px;
    height: 32px;
    padding: 0 8px;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}