.container {
    width: 35%;
    max-width: 50%;
    height: 530px;
    min-height: 200px;
    background: #131316;
}

.listContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.priceContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.feedContainer {
    flex-direction: column;
    justify-content: space-evenly;

    min-height: 160px;
    height: 165px;
    min-width: 30%;
    width: 70%;
    overflow: hidden;
}

.feedContainerList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sticky {
    position: sticky;
    top: 0;
    background: #131316;
}

.doneOrder {
    color: #00CCCC;
}

.shadow {
    text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}