.container {
    width: 50%;
    max-width: 50%;
    min-width: 45%;
    height: 730px;
    min-height: 200px;
    /* interface/bg */
    background: #131316;
    /* interface/accent */
}

.listContainer {
    max-height: 550px;
    overflow: auto;

    display: flex;
    flex-direction: column;
    gap: 10px;

    margin: 0; /* убираем отступы вокруг списка */
    padding-left: 16px; /* убираем отступы внутри списка */
    padding-right: 5px;

    list-style: none; /* убираем маркеры списка */
}

.listItem {
    justify-content: flex-end;

    height: 80px;
    width: 80px;
}